/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* nav */

#main-nav {
    height: 70px;
    width: 100%;
    background-color: #ff6900;
}


/* main container */

#main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 80%;
}

.product {
    width: 30%;
    position: relative;
}

.product img {
    width: 100%;
}


/* price */

.new-price {
    color: red;
}

.old-price {
    text-decoration: line-through;
}


/* label positions*/

.add-favorite {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 30px;
    background-color: white;
}

.label-wrap {
    display: flex;
    position: absolute;
    gap: 10px;
    bottom: 80px;
    left: 0;
}


/*general label style */

.sales,
.single-sales {
    background-color: red;
    color: white;
    padding: 5px;
}

.sustainable,
.single-sustainable {
    background-color: green;
    color: white;
    padding: 5px;
}


/* single label */

.single-sustainable,
.single-sales {
    position: absolute;
    left: 0;
    bottom: 80px;
}


/* hover properties */

.add-favorite:hover {
    color: rgb(252, 218, 0);
    cursor: pointer;
}

.product:hover .img-default {
    display: none;
}

.img-hover {
    display: none;
}

.product:hover .img-hover {
    display: initial;
}


/* footer */

footer {
    height: 100px;
    background-color: #1a1a1a;
}