/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* nav */

header {
    height: 70px;
    width: 100%;
    background-color: #ff6900;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.459);
}

#main-nav {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    display: flex;
    gap: 10px;
}

#nav-links a {
    color: white;
    font-weight: 600;
}

#logo img {
    width: 140px;
}

#shopping i {
    margin-left: 5px;
}

/* main container */

#main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 3rem 5rem 3rem;
    width: 100%;
}

#card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 15px;
    width: 80%;
}

.product {
    width: 30%;
}

.product img {
    width: 100%;
}

.img-container {
    position: relative;
}

/* price */

.new-price {
    color: red;
}

.old-price {
    text-decoration: line-through;
}


/* label positions*/

.add-favorite {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 0;
    padding: 10px 15px;
    font-size: 30px;
    background-color: white;
}

.label-wrap {
    display: flex;
    position: absolute;
    gap: 10px;
    top: 80%;
    left: 0;
}


/*general label style */

.sales,
.single-sales {
    background-color: red;
    color: white;
    padding: 5px;
}

.sustainable,
.single-sustainable {
    background-color: green;
    color: white;
    padding: 5px;
}


/* single label */

.single-sustainable,
.single-sales {
    position: absolute;
    left: 0;
    top: 80%;
}


/* hover properties */

.add-favorite:hover {
    color: rgb(252, 218, 0);
    cursor: pointer;
}

.product:hover .img-default {
    display: none;
}

.img-hover {
    display: none;
}

.product:hover .img-hover {
    display: initial;
    cursor: pointer;
}


/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1a1a1a;
    height: 90px;
}

#footer-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
}

/* footer sections */

#footer-left ul {
    display: flex;
    gap: 10px;
}

#footer-left h3,
#footer-left a,
#footer-right {
    color: white;
}

#footer-right i {
    font-size: 20px;
    padding: 5px;
}